<div class="w-full">
  <!-- Заголовок и подзаголовок -->
  <div class="text-center py-6">
    <h1 class="text-4xl font-bold text-gray-800">Загрузка новых данных</h1>
    <p class="text-xl text-gray-600 mt-2">Загрузите новые данные в формате представленном ниже, для того что бы сеть смогла ответить на все ваши вопросы</p>
  </div>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">Question</th>
        <th scope="col" class="py-3 px-6">Category</th>
        <th scope="col" class="py-3 px-6">Answer</th>
        <th scope="col" class="py-3 px-6">answer_class</th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6">Какие основные методики помогут мне освоить веб-дизайн с нуля?</td>
        <td class="py-4 px-6">Профессия Веб-дизайнер</td>
        <td class="py-4 px-6">Конечно! Курс подходит для людей, не имеющих навыков дизайна. Наши методики позволят вам научиться всему с нуля. Вовремя выполняйте практические задания, и вы достигнете результатов даже без специальных базовых знаний. Во всём помогут практикующие эксперты, которые будут сопровождать вас на протяжении всего курса.</td>
        <td class="py-4 px-6">30</td>
      </tr>
      <tr class="bg-gray-50 dark:bg-gray-700">
        <td class="py-4 px-6">Имеется ли возможность получить ссылки на полезные материалы по математике?</td>
        <td class="py-4 px-6">Data Scientist с нуля до Junior</td>
        <td class="py-4 px-6">На начальных этапах от вас не требуется продвинутых знаний — достаточно школьного курса математики. Не пугайтесь, если вам придётся разобраться в темах, которые вы забыли или не проходили, — куратор поможет освежить знания или даст ссылки на полезные материалы.</td>
        <td class="py-4 px-6">30</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Форма для загрузки файла -->
  <!-- Форма для загрузки файла -->
  <form action="<%=answer_questions_path %>" method="post" enctype="multipart/form-data" class="flex items-center p-4 bg-white rounded-lg">
    <label for="file_upload" class="block text-sm font-medium text-gray-700">Выбери файл:</label>
    <input type="file" id="file_upload" name="file_upload" class="ml-4 flex-1 block w-full rounded-md border-gray-300  focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
    <input type="submit" value="Загрузить" class="ml-4 px-4 py-2 border border-transparent rounded-md text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
  </form>
</div>
